In [2]:
import yfinance as yf
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.cluster import hierarchy
from sklearn.cluster import KMeans 
from Get_Stocks import StockFilterParticular, StockFilter

stock_filter= StockFilter()
stock_filter_particular = StockFilterParticular()

In [3]:
# universe = ["MMM","ACN","ATVI","ADBE","ADP","ABNB","BABA","GOOGL","GOOGL","AMZN","AMD","AXP","AMGN",
# "AAPL","AMAT","T","TEAM","BIDU","BAC","BRK-A","BYND","BLK","SQ","BA","BKNG","AVGO","CAT","SCHW",
# "CHTR","CVX","CSCO","C","KO","COIN","CMCSA","COST","CVS","DOCU","DASH","^DJI","EBAY","EA","XOM","F",
# "GE","GM","GILD","GS","HD","HON","IBM","INTC","INTU","ISRG","JNJ","JPM","LCID","LYFT","MA","MDT","MRK",
# "META","MU","MSFT","MS","NFLX","NKE","NIO","NVDA","ORCL","PYPL","PEP","PFE","PM","PINS","PG","QCOM","QS",
# "HOOD","ROKU","SPGI","CRM","NOW","SHOP","SNAP","SNOW","SPOT","SBUX","TGT","TSLA","TXN","TMO","TME","TM",
# "TRV","TSM","TWLO","UNP","UNH","UPS","VZ","SPCE","V","WBA","WMT","WFC"]

def down_stocks():
    universe = ["MMM","ACN","ATVI","ADBE","ADP","ABNB","BABA","GOOGL","GOOGL","AMZN","AMD","AXP","AMGN",
"AAPL","AMAT","T","TEAM","BIDU","BAC","BRK-A","BYND","BLK","SQ","BA","BKNG","AVGO","CAT","SCHW",
"CHTR","CVX","CSCO","C","KO","COIN","CMCSA","COST","CVS","DOCU","DASH","^DJI","EBAY","EA","XOM","F",
"GE","GM","GILD","GS","HD","HON","IBM","INTC","INTU","ISRG","JNJ","JPM","LCID","LYFT","MA","MDT","MRK",
"META","MU","MSFT","MS","NFLX","NKE","NIO","NVDA","ORCL","PYPL","PEP","PFE","PM","PINS","PG","QCOM","QS",
"HOOD","ROKU","SPGI","CRM","NOW","SHOP","SNAP","SNOW","SPOT","SBUX","TGT","TSLA","TXN","TMO","TME","TM",
"TRV","TSM","TWLO","UNP","UNH","UPS","VZ","SPCE","V","WBA","WMT","WFC"]
    start = '2010-01-01'
    df = yf.download(universe, start)['Adj Close']
    return df

data = down_stocks()
data, sharpe_ratios = stock_filter.filtro_sharpe(data)
data = stock_filter_particular.filtro_sector(data, sharpe_ratios)
data

[*********************100%***********************]  105 of 105 completed

,AAPL,ACN,ADBE,ADP,AMAT,AMGN,ATVI,AVGO,AXP,BIDU,...,TSLA,TSM,TXN,UNH,UNP,UPS,V,VZ,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,6.496294,32.708157,37.090000,27.178553,11.273008,42.488071,10.018277,13.796167,33.551670,41.002998,...,NaN,7.532080,18.492167,25.785110,24.531582,38.856682,20.016438,16.298609,40.013058,41.319057
2010-01-05,6.507524,32.910301,37.700001,27.032597,11.186296,42.120022,10.036009,13.898570,33.477890,40.590000,...,NaN,7.499557,18.385521,25.744225,24.872974,38.923470,19.787069,16.327993,39.614620,41.480400
2010-01-06,6.404015,33.260159,37.619999,26.969131,11.162644,41.803486,9.982816,14.008305,34.019032,41.250000,...,NaN,7.473539,18.250443,25.997742,24.910498,38.636288,19.521364,15.858499,39.526089,41.838913
2010-01-07,6.392176,33.229061,36.889999,26.956457,11.044395,41.420727,9.743440,13.920527,34.570797,40.463001,...,NaN,7.226374,18.307316,26.995441,24.689156,38.342426,19.703039,15.764102,39.548229,41.707458
2010-01-08,6.434673,33.096893,36.689999,26.918377,11.470090,41.788784,9.663650,14.022930,34.546066,40.426998,...,NaN,7.219870,18.726782,26.741941,25.525753,40.185738,19.757540,15.774035,39.349022,41.540142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-12,183.789993,311.480011,474.630005,218.360001,140.009995,217.360001,79.769997,855.359985,173.639999,134.360001,...,249.830002,106.613457,174.039993,490.576172,198.960007,171.500000,226.169998,35.610001,154.100006,106.419998
2023-06-13,183.309998,315.160004,478.989990,220.490005,141.789993,221.990005,80.699997,851.119995,175.139999,142.570007,...,258.709991,106.354546,177.410004,489.301422,198.929993,172.889999,223.399994,35.480000,155.300003,106.440002
2023-06-14,183.949997,315.049988,479.529999,216.089996,141.169998,222.279999,81.230003,886.179993,174.470001,147.210007,...,256.790009,106.961998,177.119995,457.979980,202.740005,174.880005,223.440002,35.730000,156.869995,105.160004
2023-06-15,186.009995,323.769989,490.910004,220.970001,140.110001,228.440002,81.449997,883.429993,173.809998,148.710007,...,255.899994,105.180000,178.089996,465.890015,205.919998,179.000000,226.169998,36.439999,157.729996,105.889999
2023-06-16,185.609894,324.285004,501.605011,220.970001,138.919998,228.710007,81.555000,877.594971,172.419998,144.529999,...,258.579712,104.680000,177.389999,460.694092,204.794998,178.729996,229.005005,36.360001,156.360001,105.470001

In [ ]:
def filtro_sharpe(data):
    
    returns_df = np.log1p(data.pct_change())
    sharpe_ratios = (returns_df.mean()*252) / (returns_df.std()* np.sqrt(252))
    return sharpe_ratios

data = filtro_sharpe(data)
data

In [ ]:
sorted_data = data.sort_values(ascending=False)[:10]
sorted_data

In [ ]:
correlation_matrix = data.corr()

In [ ]:
plt.figure(figsize=(50, 50))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', square=True)
plt.title('Stock Correlation Matrix')
plt.show()

Overall correlation

In [ ]:
absolute_corr = correlation_matrix
column_overall_corr = absolute_corr.mean(axis = 0)

In [ ]:
min_corr = column_overall_corr.min()
max_corr = column_overall_corr.max()
print('Min corr value is ',min_corr," ","and Max ",max_corr)

In [ ]:
df_corr = pd.DataFrame(column_overall_corr, columns=['Correlation'])
df_corr.index.name = 'Stocks'
df_corr.reset_index(inplace=True)
# print(df_corr.to_string())

In [ ]:
data = {
    "Stocks": [
        "AAPL", "ABNB", "ACN", "ADBE", "ADP", "AMAT", "AMD", "AMGN", "AMZN", "ATVI",
        "AVGO", "AXP", "BA", "BABA", "BAC", "BIDU", "BLK", "BRK-A", "BYND", "C",
        "CAT", "CHTR", "CMCSA", "COIN", "COST", "CRM", "CSCO", "CVS", "CVX", "DASH",
        "DOCU", "EA", "EBAY", "F", "GE", "GILD", "GM", "GOOGL", "GS", "HD", "HON",
        "HOOD", "IBM", "INTC", "INTU", "ISRG", "JNJ", "JPM", "KO", "LCID", "LYFT",
        "MA", "MDT", "META", "MMM", "MRK", "MS", "MSFT", "MU", "NFLX", "NIO",
        "NKE", "NOW", "NVDA", "ORCL", "PEP", "PFE", "PG", "PINS", "PM", "PYPL",
        "QCOM", "QS", "ROKU", "SBUX", "SCHW", "SHOP", "SNAP", "SNOW", "SPCE", "SPGI",
        "SPOT", "SQ", "T", "TEAM", "TGT", "TM", "TME", "TMO", "TRV", "TSLA",
        "TSM", "TWLO", "TXN", "UNH", "UNP", "UPS", "V", "VZ", "WBA", "WFC", "WMT",
        "XOM", "^DJI"
    ],
    "Correlation": [
        0.667903, 0.328243, 0.749654, 0.791798, 0.650582, 0.739285, 0.697283, 0.640048, 0.792487, 0.714120,
        0.657989, 0.698035, 0.483260, 0.336426, 0.739822, 0.260248, 0.786710, 0.664563, -0.045956, 0.635059,
        0.662392, 0.795998, 0.804209, 0.455464, 0.650626, 0.796208, 0.727452, 0.488281, 0.436450, 0.359582,
        0.468719, 0.739274, 0.798748, 0.421231, -0.233270, 0.359267, 0.715667, 0.759176, 0.700657, 0.750039,
        0.771335, 0.389164, 0.199817, 0.701520, 0.752036, 0.764695, 0.680099, 0.769719, 0.615735, 0.364648,
        0.097023, 0.725742, 0.795607, 0.735346, 0.617611, 0.569591, 0.697177, 0.716183, 0.772518, 0.765826,
        0.537274, 0.799570, 0.746903, 0.651125, 0.692753, 0.626614, 0.646104, 0.673419, 0.390697, 0.580379,
        0.606187, 0.709283, 0.166201, 0.506912, 0.764941, 0.691106, 0.652087, 0.525809, 0.310591, 0.312271,
        0.767695, 0.331025, 0.635398, 0.569018, 0.669335, 0.740649, 0.738786, -0.098713, 0.709821, 0.621893,
        0.659791, 0.775996, 0.549971, 0.756900, 0.626476, 0.739024, 0.714093, 0.739102, 0.723901, 0.191529,
        0.403554, 0.705381, 0.194791, 0.761206
    ]
}

df = pd.DataFrame(data)

Clustering Hierarchy Model

In [ ]:
kmeans = KMeans(n_clusters=3)
kmeans.fit(df_corr['Correlation'].values.reshape(-1, 1))

# Get the cluster labels
labels = kmeans.labels_

# Add the cluster labels to the DataFrame
df_corr['Cluster'] = labels

In [ ]:
plt.figure(figsize=(15, 5))
plt.scatter(df_corr['Stocks'], df_corr['Correlation'], c=df_corr['Cluster'], alpha=0.7)
plt.title('Stock Correlation Clustering')
plt.xlabel('Stock')
plt.ylabel('Correlation')
plt.xticks(rotation=90)

# Add stock numbers to the plot
for i, stock in enumerate(df_corr['Stocks']):
    plt.text(i, df_corr['Correlation'].iloc[i], stock, ha='center', va='bottom')

plt.show()

Elbow Method

In [ ]:
# Create a list to store the within-cluster sum of squares (WCSS)
wcss = []

# Fit K-means clustering for different values of k
for k in range(1, 11):
    kmeans = KMeans(n_clusters=k, random_state=42)
    kmeans.fit(df_corr[['Correlation']])
    wcss.append(kmeans.inertia_)

# Plot the WCSS values against the number of clusters
plt.plot(range(1, 11), wcss)
plt.title('Elbow Method')
plt.xlabel('Number of Clusters')
plt.ylabel('WCSS')
plt.show()